{% extends "base.html" %}

<!-- This page generates a clockout form-->
{% block content %}
<div class="row padding">
        <form action="/clockout" method="POST">
            <div class="col-xs-4 col-xs-offset-2 right-align">
                <label for="mileage_start">Enter your day end mileage:
            </div>
                <div class="col-xs-3 left-align">
                    <input type="text" id="mileage_end" name="mileage_end"/>
                    <input type="hidden" id="latitude" name="latitude" value=""/>
                    <input type="hidden" id="longitude" name="longitude" value=""/>
                </label>
                </div>
    
    
        <div class="col-xs-2">
            <input type="submit" value="Submit"/>
        </div>
    </div>
    </form>

<script>
        var latitude = 0;
        var longitude = 0;
    
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
      
            latitude = position.coords.latitude;
            longitude = position.coords.longitude;
    
            document.getElementById("latitude").value = latitude;
            document.getElementById("longitude").value = longitude;
            });
        };
    
    </script>


{% endblock %}