{% extends "base.html" %}

<!-- this page loops through database blog posts to display the title
and content of each -->

{% block content %}
<!-- check to see if posts are available-->
{% if posts|length == 0 %}
    <p>No Blog Posts Available</p>

<!--display posts if they are avaiable-->
{% else %}
    <ul>
        {% for post in posts %}
            <li><a href="/blog?id={{post.id}}"><strong>{{post.title}}</strong></a><br>
            {{post.body}}<br>
            Author: <a href='/blog?user={{post.owner_id}}'>{{post.owner.username}}</a>
            </li>
            <hr>
        {% endfor %}
    </ul>

{% endif %}





{% endblock %}