{% extends 'base.html' %}

{% block content %}
<h1>Sign up for a blog accout</h1>
<form method="post">
    <label for="username">Username:</label>
            <input name="username" type="text" value="{{ username }}">
    <label for="password">Password:</label>
            <input name="password" type="password">
    <label for="retype">Verify Password:</label>
            <input name="retype" type="password">

            
    <input type="submit" value="Signup">
</form>

<p class='error'>{{ error_name }}</p>


{% endblock %}